target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin


# IntelliJ IDEA 项目文件
.idea/
*.iml
*.iws
*.ipr

# 编译输出目录
out/
target/
build/

# 操作系统生成的文件
.DS_Store
Thumbs.db

# 日志文件
*.log



### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store